/*
#######################################
NAVIGATION
#######################################
*/
div#navigationWrapper{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-color: #212121;
	}
div#navigation{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 960px;
	}
/*
#######################################
LEVEL ONE
#######################################
*/
.dropdown{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	list-style: none;
	border-left: solid 1px #2F2F2F;
	}
ul.dropdown{ 
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	list-style:  none;
	position: relative;
	z-index: 100;
	line-height: 12px;
	}
ul.dropdown li{
	float: left;
	zoom: 1;
	}
ul.dropdown li a{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 14px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 14px;
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: #B1B1B1;
	font-weight: normal;
	border-right: solid 1px #2F2F2F;
	background-color: #FFFFFF;
	background-color: #181818;
	background-image: url(../images/nav_01.png);
	background-position: center center;
	}
ul.dropdown li a:hover{
	color: #DDDDDD;
	background-color: #181818;
	background-image: url(../images/nav_02.png);
	background-position: center center;
	}
ul.dropdown li.hover, ul.dropdown li:hover{ 
	position: relative;
	}
li.current_page_item a{
	background-color: #181818!important;
	background-image: url(../images/nav_02.png)!important;
	background-position: center center!important;
	background-color: #F9F9F9!important;
	color: #DDDDDD!important;
	}
li.current_page_item a:hover{
	color: #FFFFFF!important;
	}
/*
#######################################
LEVEL TWO
#######################################
*/
ul.dropdown ul{
	list-style: none;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 200px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	}
ul.dropdown ul li{
	float: none;
	}
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	border-right: none;
	display: inline-block;
	display: block;
	background-color: transparent!important;
	background-image: url(../images/base_01.png)!important;
	background-position: center center;
	background-repeat: repeat;
	border-bottom: 1px solid #1A1A1A;
	color: #D7D7D7!important;
	font-size: 12px;
	}
ul.dropdown ul li a:hover{
	background-color: #000000!important;
	color: #EEEEEE!important;
	}
/*
#######################################
LEVEL THREE
#######################################
*/
ul.dropdown ul ul{ 
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	list-style: none;
	background-image: url(../images/arrow.png)!important;
	background-position: -2px -3px;
	background-repeat: no-repeat;
	left: 200px;
	top: 0;
	}
ul.dropdown ul ul li{ 
	background-position: left top;
	background-repeat: repeat;
	}
ul.dropdown li:hover > ul{
	visibility: visible;
	}
*:first-child+html ul.dropdown ul li{
	display: inline;
	width: 100%;
	}

/*
#######################################
Breadcrumbs
#######################################
*/
div#breadcrumbsWrapper{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	}
div#breadcrumbs{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	}
div#breadcrumbs ul{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	}
div#breadcrumbs li{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	float: left;
	list-style: none;
}
div#breadcrumbs a{
	color: #DDDDDD;
	text-decoration: none;
	}
div#breadcrumbs a:hover{
	color: #EEEEEE;
	text-decoration: underline;
	}
/*
#######################################
PAGINATION
#######################################
*/
#pagination{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	text-align: center;
	}
#pagination span, #pagination a{
	margin: 3px 3px 3px 0;
	padding: 6px 9px 5px 9px;
	border-radius-top-left: 5px; /* CSS3 */
	-webkit-border-top-left-radius: 5px; /* Safari,Google Chrome */
	-moz-border-radius-topleft: 5px; /* Firefox */
	border-radius-top-right: 5px; /* CSS3 */
	-webkit-border-top-right-radius: 5px; /* Safari,Google Chrome */
	-moz-border-radius-topright: 5px; /* Firefox */
	border-radius-bottom-left: 5px; /* CSS3 */
	-webkit-border-bottom-left-radius: 5px; /* Safari,Google Chrome */
	-moz-border-radius-bottomleft: 5px; /* Firefox */
	border-radius-bottom-right: 5px; /* CSS3 */
	-webkit-border-bottom-right-radius: 5px; /* Safari,Google Chrome */
	-moz-border-radius-bottomright: 5px; /* Firefox */
	background-color: #0A0A0A;
	border: 1px solid #0A0A0A;
	color: #EEEEEE;
	font-size: 12px;
	}
#pagination a{
	color: #EEEEEE;
	text-decoration: none;
	}
#pagination a:hover{
	color: #EEEEEE;
	text-decoration: underline;
	}
#pagination .current{
	background-color: #101010;
	border: 1px solid #101010;
	color: #333333;
	}